<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{BACKUP_LABEL}}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{HELPER_APP}}/Contents/MacOS/imessage-backup-helper</string>
        <string>--runtime-dir</string>
        <string>{{RUNTIME_DIR}}</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/backup-helper.out.log</string>

    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/backup-helper.err.log</string>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
